# HW3 Class Competition

# Who survived the sinking of the Titanic?

The goal of this HW is to predict who survived the Titanic sinking in 1912.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Titanic_0.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

## Data set description

<ul>
<li><b>Survived</b>: binary attribute that indicates whether the passenger survived. This is the dependent variable that we will attempt to explain
<li><b>Pclass</b>: Ticket class (1 = 1st class, 2 = 2nd class, 3 = 3rd class)
<li><b>Age</b>: Passenger age
<li><b>SibSp</b>: The amout of the passenger's siblings/spouses aboard the Titanic
<li><b>Parch</b>: The amout of the passenger's parents/children aboard the Titanic
<li><b>Fare</b>: The ticket fare
<li><b>Male</b>: binary attibute that indicates the gender (1=Male, 0=Female)
<li><b>Embarked_C</b>: binary attibute that indicates whether the passenger embarked in Cherbourg
<li><b>Embarked_Q</b>: binary attibute that indicates whether the passenger embarked in Queenstown
<li><b>Embarked_S</b>: binary attibute that indicates whether the passenger embarked in Southampton
</ul>

## Instruction

Cleaning the data set if necessary. 

Use everything you know to find a machine learning model to achieve the highest possible AUC score. Two testing sets have been reserved: TestA.csv and TestB.csv. Your homework will be evaluated using these two sets. 70% of the grade will be based on the AUC score on TestA.csv. 30% of the grade will be based on the ranking of the AUC score on TestB.csv among the 12 groups. To be specific, your grade on TestA.csv will be equal to the final AUC score multiplied by 70, and your grade on TestB.csv will be equal to 2.5 * (13 - your ranking). You must submit the same model for both sets with clear explanation of your codes. You must include the codes to evaluate your model on TestA.csv and TestB.csv. Failure to do so will result in 20% loss of grades (10% for each test). 

TestB.csv is private, which means you will never see it. The ranking will be revealed only after the deadline. TestA.csv is semi-private. This means that you have at most one chance everyday for me to check your model performance on TestA.csv using your code, and I will let you know the AUC score and post your score on the discussion board. I will save your notebook file in the same folder with the data files. If your code does not work on my computer, you lose the opportunity on the same day.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 713 entries, 0 to 712
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  713 non-null    int64
 1   Survived     713 non-null    int64
 2   Pclass       713 non-null    int64
 3   Name         713 non-null    object
 4   Sex          713 non-null    object
 5   Age          572 non-null    float64
 6   SibSp        713 non-null    int64
 7   Parch        713 non-null    int64
 8   Ticket       713 non-null    object
 9   Fare         713 non-null    float64
 10  Cabin        164 non-null    object
 11  Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 67.0+ KB

In [6]:
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,713.000000,713.000000,713.000000,572.000000,713.000000,713.000000,713.000000
mean,357.000000,0.382889,2.295933,29.811486,0.513324,0.395512,31.989270
std,205.969658,0.486433,0.835113,14.528104,1.075861,0.843403,48.878417
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,179.000000,0.000000,2.000000,21.000000,0.000000,0.000000,7.895800
50%,357.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.458300
75%,535.000000,1.000000,3.000000,38.250000,1.000000,0.000000,31.000000
max,713.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
df_c = df.copy()

In [9]:
df_c.drop(['Name', 'PassengerId', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [10]:
df_c.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male   NaN      0      0   8.4583        Q

In [11]:
df_c.isna().any()

Survived    False
Pclass      False
Sex         False
Age          True
SibSp       False
Parch       False
Fare        False
Embarked     True
dtype: bool

In [12]:
df_c.Embarked.value_counts()

S    517
C    130
Q     65
Name: Embarked, dtype: int64

In [13]:
from sklearn.model_selection import GridSearchCV, cross_val_score, KFold, StratifiedKFold, train_test_split, cross_validate
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

In [14]:
X = df_c.iloc[:,1:]
y = df_c.iloc[:,0]

In [15]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [16]:
pipe_num_prepro = make_pipeline(SimpleImputer(strategy='mean'), StandardScaler())

In [17]:
pipe_cate_prepro = make_pipeline(SimpleImputer(strategy='constant', fill_value="S"), OneHotEncoder())

In [18]:
col_cat = ['Sex', 'Embarked']
col_num = ['Age', 'SibSp', 'Parch', 'Fare']

In [19]:
preprocessor = make_column_transformer((pipe_cate_prepro, col_cat), (pipe_num_prepro, col_num))

In [20]:
from sklearn.ensemble import (RandomForestClassifier,AdaBoostClassifier, BaggingClassifier, VotingClassifier,
GradientBoostingClassifier, StackingClassifier,ExtraTreesClassifier)

from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier, RadiusNeighborsClassifier
from sklearn.linear_model import PassiveAggressiveClassifier, SGDClassifier,RidgeClassifier, LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import SVC

In [21]:
models = [ RandomForestClassifier(),AdaBoostClassifier(), BaggingClassifier(),GradientBoostingClassifier(),ExtraTreesClassifier(),DecisionTreeClassifier(), 
MLPClassifier(), KNeighborsClassifier(), PassiveAggressiveClassifier(),
SGDClassifier(),RidgeClassifier(),BernoulliNB(), SVC(),LogisticRegression()]

In [22]:
best_score = 0

for model in models:
    pipe = make_pipeline(preprocessor, model)
    pipe.fit(X, y)
    score = cross_val_score(pipe, X, y, scoring="roc_auc", n_jobs=-1, cv=10)
    print(f"current model is {model.__class__.__name__}, the cross validate score is {score.mean()}")
    if score.mean() > best_score:
        best_score = score.mean()
        best_model = model.__class__.__name__
print(f"the best model is {best_model}, and the score is {best_score}")

current model is RandomForestClassifier, the cross validate score is 0.8343644781144782
current model is AdaBoostClassifier, the cross validate score is 0.8542598605098606
current model is BaggingClassifier, the cross validate score is 0.8402462121212121
current model is GradientBoostingClassifier, the cross validate score is 0.8515482202982204
current model is ExtraTreesClassifier, the cross validate score is 0.8149140211640212
current model is DecisionTreeClassifier, the cross validate score is 0.7448773448773449

/Users/zihaoli/opt/anaconda3/envs/DA/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

current model is MLPClassifier, the cross validate score is 0.8661811568061568
current model is KNeighborsClassifier, the cross validate score is 0.8250435906685908
current model is PassiveAggressiveClassifier, the cross validate score is 0.7443497474747474
current model is SGDClassifier, the cross validate score is 0.783981180856181
current model is RidgeClassifier, the cross validate score is 0.8298085016835017
current model is BernoulliNB, the cross validate score is 0.815719696969697
current model is SVC, the cross validate score is 0.8419477513227512
current model is LogisticRegression, the cross validate score is 0.8276680495430495
the best model is MLPClassifier, and the score is 0.8661811568061568

In [23]:
# grid = GridSearchCV(MLPClassifier(), param_grid=param_grid, cv=10,scoring='roc_auc', n_jobs=-1,return_train_score=True)

In [24]:
df_c.Age.fillna(df_c.Age.mean(), inplace=True)
df_c.Embarked.fillna("S", inplace=True)

In [25]:
df_d = pd.get_dummies(df_c, columns=['Sex', "Embarked"]).drop(columns=['Sex_female'])

In [26]:
df_d.rename(columns={"Sex_male":"Male"})

,Survived,Pclass,Age,SibSp,Parch,Fare,Male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.000000,1,0,7.2500,1,0,0,1
1,1,1,38.000000,1,0,71.2833,0,1,0,0
2,1,3,26.000000,0,0,7.9250,0,0,0,1
3,1,1,35.000000,1,0,53.1000,0,0,0,1
4,0,3,29.811486,0,0,8.4583,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
708,0,3,39.000000,0,5,29.1250,0,0,1,0
709,0,2,27.000000,0,0,13.0000,1,0,0,1
710,1,1,19.000000,0,0,30.0000,0,0,0,1
711,0,3,29.811486,1,2,23.4500,0,0,0,1
712,0,3,32.000000,0,0,7.7500,1,0,1,0

In [28]:
df_d.isna().any()

Survived      False
Pclass        False
Age           False
SibSp         False
Parch         False
Fare          False
Sex_male      False
Embarked_C    False
Embarked_Q    False
Embarked_S    False
dtype: bool

In [29]:
df_d.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.000000,1,0,7.2500,1,0,0,1
1,1,1,38.000000,1,0,71.2833,0,1,0,0
2,1,3,26.000000,0,0,7.9250,0,0,0,1
3,1,1,35.000000,1,0,53.1000,0,0,0,1
4,0,3,29.811486,0,0,8.4583,1,0,1,0

In [30]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 713 entries, 0 to 712
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Survived    713 non-null    int64
 1   Pclass      713 non-null    int64
 2   Age         713 non-null    float64
 3   SibSp       713 non-null    int64
 4   Parch       713 non-null    int64
 5   Fare        713 non-null    float64
 6   Sex_male    713 non-null    uint8
 7   Embarked_C  713 non-null    uint8
 8   Embarked_Q  713 non-null    uint8
 9   Embarked_S  713 non-null    uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 36.3 KB

In [31]:
X = df_d.iloc[:, 1:]
y = df_d.iloc[:, 0]

In [ ]:
s = StandardScaler().fit(X)

In [33]:
X = s.transform(X)

In [43]:
param_grid = {
    "hidden_layer_sizes":[(5,10)],
    "activation": ['relu'],
    "solver": ['adam'],
    "alpha":[1],
    'learning_rate_init':[0.005],
    "max_iter": [x for x in range(200, 1001, 100)]
}

In [44]:
grid = GridSearchCV(MLPClassifier(), 
                    param_grid=param_grid, 
                    cv=10,
                    scoring='roc_auc', 
                    n_jobs=-1,
                    return_train_score=True)

In [45]:
grid.fit(X, y)

GridSearchCV(cv=10, estimator=MLPClassifier(), n_jobs=-1,
             param_grid={'activation': ['relu'], 'alpha': [1],
                         'hidden_layer_sizes': [(5, 10)],
                         'learning_rate_init': [0.005],
                         'max_iter': [200, 300, 400, 500, 600, 700, 800, 900,
                                      1000],
                         'solver': ['adam']},
             return_train_score=True, scoring='roc_auc')

In [46]:
grid.best_params_

{'activation': 'relu',
 'alpha': 1,
 'hidden_layer_sizes': (5, 10),
 'learning_rate_init': 0.005,
 'max_iter': 900,
 'solver': 'adam'}

In [47]:
grid.best_score_

0.8715322871572871